.card {
  width: 300px;
  margin: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  float: left;
  background-color: white;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: 450px;
}

.text {
  padding: 16px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text p {
  margin: 0;
}

.title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  align-items: center;
}

.date {
  width: 70%;
}

.like-toggle:hover {
  cursor: pointer;
}

.heart {
  padding: 0 5px;
  font-size: 1.5em;
}

.liked {
  color: red;
}
